<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"></bean>

	<bean id="messi" class="com.tutorial.beans.Player">
		<property name="number" value="10"></property>
		<property name="name" value="messi"></property>
		<property name="team" ref="barcelona"></property>
	</bean>
	
	<bean id="barcelona" class="com.tutorial.beans.Barcelona"></bean>
	<bean id="juventus" class="com.tutorial.beans.Juventus"></bean>
	
</beans>
